*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    width: 1349px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.box_1{
    width: 700px;
    height: 600px;
    margin: 100px auto;
    display: flex;

}
.box_4{
    width: 1000px;
    height: 48px;
    margin: 0 auto;
}
.fon{
    height: 600px;
    width: 400px;
    
}
.form{
    height: 500px;
    width: 400px;
    border: 0.2px solid rgb(187, 186, 186);
}
.box_11{
    width: 400px;
    height: 100px;
}
.box_21{
    width: 400px;
    height: 50px;
}
.box_31{
    width: 400px;
    height: 50px;
}
.box_41{
    width: 400px;
    height: 50px;   
}
.box_61{
    width: 400px;
    height: 40px;
}

.foto1{
    width: 230px;
    height: 90px;
    position: relative;
    left: 75px;
    top: 5px;
}
.foto{
    position: relative;
    top: 50px;
    right: 0px;
    width: 230px;
    height: 430px;
    z-index: 3;
}
.foto2{
    position: relative;
    bottom: 375px;
    left: 15px;
    width: 200px;
    height: 400px;
    z-index: 4;
}
.email{
    width: 290px;
    height: 40px;
    margin: 0px 50px;
}
.pasword{
    width: 290px;
    height: 40px;
    margin: 0px 50px;
}
.risochki{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 330px;
    height: 30px;
    margin: 10px auto;
}
.box0{
    width: 100px;
    height: 1px;
    background-color: rgb(143, 143, 143);
}
.box000{
    width: 100px;
    height: 1px;
    background-color: rgb(143, 143, 143);
}
.a{
    height: 35px;
    width: 250px;
    background-color: rgb(37, 186, 231);
    border-radius: 15px;
    color: aliceblue;
    border: 2px solid beige;
    margin: 2px 70px;
}
.aa{
    color: rgb(0, 0, 146);
    text-decoration: none;
    margin: 10px 126px;
}
.aaa{
    color: rgb(53, 53, 73);
    text-decoration: none;
    margin: 40px 140px;
}
.f{
    position: absolute;
    top: 731px;
    left: 770px;
    height: 90px;
    width: 170px;
    z-index: 2;
}
.ff{
    position: absolute;
    top: 753px;
    left: 950px;
    height: 45px;
    width: 140px;
    z-index: 2;
}
.text{
    margin: 50px ;
}
.text3{
    margin: 200px 900px;
}
.box_2{
    width: 400px;
    height: 70px;
    border: 0.2px solid rgb(187, 187, 187);
    margin: -190px 725px;
}
.ac{
    margin: 10px 110px;
}
.aaaa{
    color: rgb(46, 46, 252);
    text-decoration: none;
    margin: 10px 130px;
}
.mini_box1{
    width: 1000px;
    height: 24px;
    display: flex;
    justify-content: space-evenly;
}
.mini_box2{
        width: 1000px;
        height: 24px;
        display: flex;
        justify-content: space-evenly;
}
.box_4 div{
    color: rgb(85, 85, 85);
}
.foto-1{
    position: absolute;
}
